@inject WebsiteAuthenticator WebsiteAuthenticator

<div class="nav-item d-flex flex-column">
    <NavLink @onclick=@DisplaySublist>
        <div class="d-flex">
            <div class="flex-grow-1 nav-text ml-2">
                @NavText
            </div>
            @if (SubList?.Count > 0)
            {
                <div class="nav-dropdown">
                    <span class="fas fa-solid fa-lg @ChevronState"></span>
                </div>
            }
        </div>
    </NavLink>
    @if (showSublist)
    {
        <div class="nav-sublist">
            <ul>
                <Virtualize Items="SubList" Context="_list">
                    <li>
                        <NavLink href=@_list.Url>
                            @_list.Name
                        </NavLink>
                    </li>
                </Virtualize>
            </ul>
        </div>
    }


</div>

@code {
    [Parameter] public RenderFragment? NavText { get; set; }
    [Parameter] public string? RedirectUrl { get; set; }
    [Parameter] public List<Link>? SubList { get; set; }
    private bool showSublist { get; set; }
    private string ChevronState = "fa-chevron-down";
    private async Task DisplaySublist()
    {
        if (RedirectUrl?.Equals("#")??false)
        {
            showSublist = !showSublist;
            ChevronState = ChevronState.Equals("fa-chevron-down") ? "fa-chevron-up" : "fa-chevron-down";
        }
        else if (RedirectUrl?.Equals("Logout") ?? false)
        {
            await WebsiteAuthenticator.LogoutAsync();
        }

    }
}