.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: var(--main-bg-color);
    border-bottom: 1px solid white;
}

.navbar-brand {
    font-size: 1.1rem;
}

.logout {
    color: white;
    background:none;
    outline:none;
    border:none;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
